
.body_error {
  padding-top: 100px;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
}
.body_error .bad_request {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.48;
  letter-spacing: normal;
  color: #595757;
}
.body_error .number_error {
  font-size: 90px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 10px;
  color: #595757;
  margin-top: 10px;
}
.body_error .message_error {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #595757;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .logo_error img {
    width: 97%;
  }
  .margin_box_error {
    margin-top: 215px;
  }
  .body_error {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .body_error .error_btn {
    font-size: 14px;
  }
}
